html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: thistle;
}

form {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border-
    radius: 2px black; */
}

form div * {
    display: block;
}

form div {
    margin: 10px;
}

#login {
    border-radius: 30px;
    background-color: steelblue;
    align-self: center;
    width: 50px;
}

#rememberme {
    align-self: center;
    font-size: x-small;
}

form .field-padding {
    padding: 10px;
}